

.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: teal; /* Dark background color */
}

.navbar2 {
    overflow: hidden; /* Hide overflow */
    background-color: gray; /* Dark background color */
}


/* Style the navigation bar links */
.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
    float: right; /* Float a link to the right */
}

.navbar a.center {
    float: center; /* Float a link to the right */
}

.bg{
    background-color: #97AFF5
}

.bg2{
    background-color: black
}
#header{
    color: white;
    padding-left: 20px;
}

#selector {
  color: white;
  font-family: Lato;
  font-size: 16px;

  line-height: 41px;
  text-align: left;
  padding-left: 20px;
}

#selector2 {
  width: 240px;
  height: 280px;
  padding-left: 20px;
}

#selectorPara {
  color: white;
  font-family: Lato;
  font-size: 14px;

  line-height: 41px;
  text-align: left;
  padding-left: 20px;
}

#selectorSmallP {
  width: 150px;
  height: 100px;
}
.df{
    font-family: Lato;
    color: white;
}

#df2{
    color: white;
    font-family: Lato;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
  color: white;
  font-family: Lato;
  font-size: 16px;

  line-height: 41px;
  text-align: left;
  padding-left: 20px;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}