<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css\Style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%block name%}
    {% endblock %}
</head>
<body class="bg">
<div class="navbar">
    <a href="\myprofile">My Profile</a>
    <a href="\booklist">Book Lists</a>
    <a href="\register">Subscribe</a>
    <a href="\subscriptions">Subscribers</a>

</div>
<div class="container-fluid">
    <div id="loading">
        <img id="loading-image" src="{% static 'media\please_wait.gif' %}" alt="Loading..."/>
    </div>
    {%block content%}
    {% endblock %}
</div>
<script>
     $(document).ready(function(){
        $('#loading').delay(400).hide(1);
     });
</script>
</body>
</html>