<!DOCTYPE html>
{%extends 'bases.html'%}
{%load static%}
<html>
<head>
    {%block name%}
    <title>Landing Page</title>
    <script>
$(document).ready(function () {
$.ajax({
        url : "https://www.googleapis.com/books/v1/volumes?q=quilting",
        dataType : "json",
        success : function (datajson) {
            var book_data = datajson.items;
            for (var i = 0; i < book_data.length; i++) {
                var table_content = "<tr>" +
                    "<td>" + '<img src="'+ book_data[i].volumeInfo.imageLinks.smallThumbnail +'" class="img-fluid rounded mx-auto d-block" alt="'+book_data[i].volumeInfo.previewLinks+'">' + "</td>" +
                    "<th scope=\"row\">" + book_data[i].volumeInfo.title + "</th>" +
                    "<td>" + book_data[i].volumeInfo.authors + "</td>" +
                    "<td>" + book_data[i].volumeInfo.publishedDate + "</td>" +
                    "<td class=\"favorite star-symbol\">☆</td>" +
                "</tr>";
                $('#table-body').append(table_content);
            };
        },

        error: function (error) {
            var table_content = "<tr><td colspan=\"5\" class = \"text-center\">JSON failed to loaded :(</td></tr>";
            $('#table-body').append(table_content);
        },
    });

    $(document).on('click', '#choose', function(){
        $('.listed').empty()
        var select = $(this).text()
        var link =  "https://www.googleapis.com/books/v1/volumes?q=" + select
        $.ajax({
            url : link,
            dataType : "json",
            success : function (datajson) {
                var book_data = datajson.items;
                for (var i = 0; i < book_data.length; i++) {
                    var table_content = "<tr>" +
                        "<td>" + '<img src="'+ book_data[i].volumeInfo.imageLinks.smallThumbnail +'" class="img-fluid rounded mx-auto d-block" alt="'+book_data[i].volumeInfo.previewLinks+'">' + "</td>" +
                        "<th scope=\"row\">" + book_data[i].volumeInfo.title + "</th>" +
                        "<td>" + book_data[i].volumeInfo.authors + "</td>" +
                        "<td>" + book_data[i].volumeInfo.publishedDate + "</td>" +
                        "<td class=\"favorite star-symbol\">☆</td>" +
                    "</tr>";
                    $('.listed').append(table_content);
                };
            },
            error: function (error) {
                var table_content = "<tr><td colspan=\"5\" class = \"text-center\">JSON failed to loaded :(</td></tr>";
                $('.listed').append(table_content);
            },
        });
    });

    var count_favorite = 0;
    update_favorite();
    function update_favorite() {
        $('#favorite-num').text(count_favorite);
    };

    $(document).on('click', '.favorite', function(){
        if($(this).text() == "☆"){
            count_favorite++;
            update_favorite();
            $(this).text("★");
        }
        else{
            count_favorite--;
            update_favorite();
            $(this).text("☆");
        }
    });

    $(document).on('click', '.favorite', function(){
        if($(this).text() == "☆"){
            count_favorite++;
            update_favorite();
            $(this).text("★");
        }
        else{
            count_favorite--;
            update_favorite();
            $(this).text("☆");
        }
    });

});



    </script>
    {% endblock %}
</head>
<body class="bg">
<div class="container-fluid">
    {%block content%}
    <h1 id="df2">Books for Beginners</h1>
    <h3>★: <span id="favorite-num"></span> Favorite book(s)</h3>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-secondary" id="choose" name="quilting"><input type="radio" name="options"  autocomplete="off" checked value="quilting">quilting</label>
        <label class="btn btn-secondary" id="choose" name="architecture"><input type="radio" name="options"    autocomplete="off" value="architecture">architecture</label>
        <label class="btn btn-secondary" id="choose" name="comic"><input type="radio" name="options"   autocomplete="off" value="comic">comic</label>
        <label class="btn btn-secondary" id="choose" name="fantasy" value="fantasy"><input type="radio" name="options"  autocomplete="off">fantasy</label>
    </div>
    <table class="table table-bordered table-responsive-sm">
        <thead class="df">
        <th scope="col">Cover</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Date Published</th>
        <th scope="col">Favourite</th>
        </thead>
        <tbody class="listed" id="df2">
        </tbody>
    </table>
    {% endblock %}
</div>

</body>
</html>