{%extends 'bases.html'%}
{%load static%}
<html>
<head>
    {%block name%}
    <title>My Profile</title>
    <script>
    $(document).ready(function(){
        $(".accordion").click(function(){
            $(".panel").toggle();
        });
    });
    </script>
    <script>
    $(document).ready(function(){
        $("#theme").click(function(){
            $("body").toggleClass("bg2");
            $(".navbar").toggleClass("navbar2");
        });
    });
    </script>
    {% endblock %}
</head>

<body class="bg">

<div class="container-fluid">
    {%block content%}

    <div class="row">
        <div class="col">
            <h2 id="header">My Profile</h2>
        </div>
    </div>

    <div class="row">
        <section class="col-md-4">
            <img src="{% static 'media\IMG-20170305-WA0006.jpg' %}" id="selector2">
        </section>
        <section class="col-md-4">
            <button class="accordion">Data Diri</button>
            <div class="panel">
                <ul>
                    <li>Nama : {{ name }}</li>
                    <li>Tempat Lahir : Denpasar</li>
                    <li>Tanggal Lahir : 4 Juni 1999</li>
                </ul>
            </div>
        </section>
        <section class=" col-md-4">
            <button class="accordion">Pendidikan</button>
            <div class="panel">
                <ul>
                    <li>{{pendidikan1}}</li>
                    <li>{{pendidikan2}}</li>
                    <li>{{pendidikan3}}</li>
                    <li>{{pendidikan4}}</li>
                </ul>
            </div>
        </section>
    </div>

    <div class="row">
        <section class="col-md-6">
            <button class="accordion">Deskripsi</button>
            <div class="panel">
                <p>
                    {{ desc }}
                </p>
            </div>
        </section>
        <section class=" col-md-6" id="selector">
            <p>Pencapaian :</p>
            <p>- Panitia Gonzaga Festival 2016
                bagian Perlengkapan.</p>
            <img src="{% static 'media\GONZFEST.png' %}" id="selectorSmallP">
        </section>
    </div>
    <a href="../" class="btn btn-secondary">Back To Landing Page</a>
    <button id="theme" name="changetheme" class="btn btn-dark">Night Mode</button>
    {% endblock %}

</div>

</body>
</html>
