<!DOCTYPE html>
{%extends 'bases.html'%}
{% load static %}
<html lang="en">
<head>
    {%block name%}
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="{% static 'js/newscripts.js' %}"></script>
    <script>
      var urlvalid = "{% url 'validate_register' %}"
      var register = "{% url 'register' %}"
    </script>
    {% endblock %}
</head>
<body style="background-color: #97AFF5">
<div class="container-fluid">
    {%block content%}
    <h1>Subscribe</h1>
    <div class="row">
        <div class="col">
            <form id="form" method="POST" action="">
                {% csrf_token %}
                {{ form.as_ul }}
                <br>
                <button type="submit" class="btn btn-default" action="" id="submit" disabled>Submit</button>
            </form>
        </div>
    </div>
    {% endblock %}
</div>

</body>
</html>