<!DOCTYPE html>
{%extends 'bases.html'%}
{%load static%}
<html>
<head>
    {%block name%}
    <title>Landing Page</title>
    {% endblock %}
</head>
<body class="bg">
<div class="container-fluid">
    {%block content%}
    <h1>Hello, Apa Kabar?</h1>
    <div class="row">
        <div class="col">
            <form id="form" method="POST" action="">
                {% csrf_token %}
                {{ form }}
                <br>
                <button name="submit_button" type="submit" class="btn btn-default" action="">Submit</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Tanggal Posting</th>
        <th>Status</th>
        </thead>
        <tbody>
        {% for i in objects%}
        <tr>
            <td> {{i.date}}</td>
            <td class="df"> {{i.status}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}

</div>

</body>
</html>