<!DOCTYPE html>
{%extends 'bases.html'%}
{%load static%}
<html>
<head>
    {%block name%}
    <title>Landing Page</title>
    <script>var subs = "{% url 'sub_list' %}"</script>
    <script>
function unsub(thisemail){
        var obj = document.getElementById(thisemail)
        obj.remove()
        console.log(thisemail);
        $.ajax({
            url: 'unsub/'+thisemail
        })
        console.log(thisemail);
    };
$(document).ready(function () {
$.ajax({
        url : subs,
        dataType : "json",
        success : function (datajson) {
            var book_data = datajson;
            console.log(datajson);
            for (var i = 0; i < book_data.length; i++) {
                var thisemail = book_data[i].email
                var table_content = "<tr id='"+thisemail+"'>" +
                    "<td>" + book_data[i].name + "</td>" +
                    "<td>" + book_data[i].email + "</td>" +
                    "<td><button class=btn btn-primary onclick=unsub('"+thisemail+"')>Unsubscribe</button></td>" +
                "</tr>";
                $('.listed').append(table_content);
            };
        },

        error: function (error) {
            var table_content = "<tr><td colspan=\"5\" class = \"text-center\">JSON failed to loaded :(</td></tr>";
            $('.listed').append(table_content);
        },
    });

});

    </script>
    {% endblock %}
</head>
<body class="bg">
<div class="container-fluid">
    {%block content%}
    <h1 id="df2">Subscribers</h1>
    <table class="table table-bordered table-responsive-sm">
        <thead class="df">
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Unsubscribe</th>
        </thead>
        <tbody class="listed" id="df2">
        </tbody>
    </table>
    {% endblock %}
</div>

</body>
</html>